/* this is login form background container  */

.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}

/* nav bar styling */
.nav {
  background-color: white !important;
  color: black !important;
}

/* nav bar search bar styling */
input[type="text"] {
  background: transparent;
  color: black;
}

.search-container {
  border-bottom: 1px solid #000;
}

.nav-a > a {
  color: black !important;
}

/* nav logo  */
.nav .logo {
  color: green !important;
}

.login-form {
  height: 450px;
  width: 100%;
  border-radius: 10px;
}

/* this is user register form  */
.register-form {
  height: 650px;
  width: 600px;
  background: transparent;
  backdrop-filter: blur(40px);
  border: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 10px;
  margin-top: 4em;
}

.form-reg{
  width: 100%;
  padding: 0 2em;
}

/* for error shows  */
.error-show {
  position: absolute;
  bottom: -4.4em;
}


.label-item {
  border-bottom: 2px solid gray;
  min-height: 3.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.label-item label {
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  font-weight: bold;
}

.label-item input {
  border: none;
  outline: none;
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 5;
  background: transparent;
  color: white;
}

.label-item input :focus {
  outline: none;
}

.forgot-password {
  text-decoration: none !important;
}

.forgot-password:hover {
  color: #333 !important;
}

/* login form first input  */
.form-submit-btn {
  display: inline-block;
  width: 100%;
  height: 3em;
  border-radius: 7px;
  border: none !important;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1.1em;
}

.form-submit-btn:hover {
  background-color: lightblue !important;
  color: rgb(0, 0, 0) !important;
}

/* password reset form css for password_reset.html */
.reset-form {
  height: 320px;
  width: 600px;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

/* email send done show messsage css */
.email-send-done {
  height: 320px;
  width: 70%;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 10px;
  color: white;
}

/* password reset confirm form style  */
.password-reset-form {
  height: 450px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid rgb(255, 255, 255, 0.5);
  border-radius: 10px;
  color: white;
}

/* passwor_reset_confirm.html page  */
.password-reset-form .label-item {
  position: relative;
}

.password-reset-form .label-item small {
  position: absolute;
  bottom: -60px;
}

/* password_reset_complete.html page  */
.reset-complete {
  height: 300px;
  width: 550px;
  background: transparent;
  backdrop-filter: blur(20px);
  border: 2px solid rgb(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 4em;
  border-radius: 10px;
  line-height: 4em;
}

.message-show {
  position: absolute;
  top: 4.5em;
  width: 32em;
}

/* password change form style  */
.password-change-form {
  height: 545px;
  width: 465px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(40px);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
}

.password-change-form small {
  position: absolute;
  bottom: -90px;
}
