{% extends "core/base.html" %}
{% load static %}
{% block title %}Catergory{% endblock title %}
{% block category-view-css %}
    <link rel="stylesheet" href="{% static 'core/css/category_view_style.css' %}">
{% endblock category-view-css %}
{% block navbar %}
    <div>
        {% include "core/navbar.html" %}
    </div>
{% endblock navbar %}
{% block body-content %}
    <div>
        <div class="container-md">
            <div class="row margin-top">
                <div class="col-6 order-summary">
                    <div class="display-6 text-info">Order Summary</div>                 
                    {% for cart in carts %}
                      <div class="d-flex flex-column mt-4 ms-3 border-bottom border-1 border-secondary">
                        <div class="d-flex align-items-center">
                          <a href="{% url 'product_view' cart.product.id %}" class="fw-semibold text-danger h5 text-decoration-none">{{cart.product.title}}</a>
                        </div>
                        <div class="d-flex align-items-center">
                          <span class="fw-medium text-secondary h6">Quantity :</span>
                          <span class="fw-semibold text-dark h6 ms-2">{{cart.quantity}}</span>
                        </div>
                        <div class="d-flex align-items-center">
                          <span class="fw-bold text-dark h5 d-inline">Price :</span>
                          <span class="fw-semibold text-dark h5 d-inline ms-2">${{cart.get_total_cost}}</span>
                        </div>
                      </div>
                    {% endfor %}
                    <h6 class="text-dark mt-4">All product price : ${{products_total_price}}</h6>
                    <h6 class="text-dark ">Shipping : $70</h6>
                    <h5 class="text-danger fw-bold mb-5">Total Cost : ${{products_total_price_with_shipping_price}}</h5>
                </div>
                <div class="col-5 offset-1 ">
                  <div class="display-6 text-info">Select Shipping Address</div>
                  <form action="/payment/done">
                    {% for address in address %}
                    <div class="my-5">
                      <h5 class="text-info">{{address.name|capfirst}}</h5>   
                      <div class="d-flex align-items-center">
                        <span class="">{{address.address}},</span>
                        <span class="mx-2">{{address.city}},</span>
                        <span class="mx-2">{{address.state}},</span>
                        <span class="mx-2">{{address.zip_code}},</span>
                        <span class="mx-2">{{address.phone}}</span>
                      </div>
                      <div class="address-actions">
                        <button class="btn-icon btn-edit bg-info text-decoration-none"><i class="fas fa-edit"></i></button>
                        <a href="{% url 'customer_address_del' address.id %}" class="btn-icon btn-delete bg-info mx-2 "><i class="fas fa-trash-alt"></i></a>
                      </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="add_id" id="address-{{forloop.counter}}" value="{{address.id}}" required>
                          <label class="form-check-label" for="address-{{forloop.counter}}">
                            Address-{{forloop.counter}}
                          </label>
                        </div>
                      </div>                 
                    {% endfor %}
                    <button type="submit" class='btn btn-warning px-5 py-2 my-2'>continue</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body-content %}

{% block ajax %}
<script src="{% static 'core/js/ajax_address.js' %}"></script>
{% endblock ajax %}