{% extends "core/base.html" %}
{% load static %}
{% block title %}Catergory{% endblock title %}
{% block css-link %}
  <link rel="stylesheet" href="{% static 'core/css/check_out.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/product_view_style.css' %}">
{% endblock css-link %}


{% block body-content %}
  <div class='bg'>
    <div class="container col-lg-10 col-md-12 mt-md-5 pb-5">
      <div class="row">
        <div class="col-lg-6 col-md-7 d-flex flex-column align-items-center pt-5 bg-white rounded-3 mt-5">
            <div class="prod-view-check">
                <div class="prod-view-check-img">
                    <img src="{{prod_obj.product_image.url}}" alt="Product Image">
                </div>
                <div class="prod-view-check-info text-danger">
                  <h5 class="fw-bold text-dark fm-puff">Product title : </h5>
                    <h5 class="prod-view-check-price fm-puff">
                        {{prod_obj.title}}
                    </h5>
                </div>
            </div>
        </div>
          <div class="col-md-5 ms-lg-5 mt-5">
            <h6 class="rounded-2 bg-white py-2 px-4 fw-bold fm-puff ">Payment Methods</h6>
            <h6 class="rounded-2 bg-white py-4 px-4 fw-bold fm-puff mb-4">PayPal</h6>
            <h6 class="rounded-2 bg-white py-2 px-4 fw-bold fm-puff ">Amount</h6>
            <h6 class="rounded-2 bg-white py-4 px-4 fw-bold fm-puff mb-4 d-flex flex-column">
              <p>Total Amount&nbsp : &nbsp$&nbsp<span class="text-danger">{{prod_obj.selling_price}}</span> </p>
              <p>Total Amount with Shipping $70 &nbsp:&nbsp $&nbsp<span class="text-danger">{{products_price_with_shipping_price}}</span> </p>
            </h6>
            <h6 class="rounded-2 bg-white py-2 px-4 fw-bold fm-puff">Billing Address</h6>
            <div class="rounded-2 bg-white py-2 px-4 fw-semibold">
              <form action="/prod/view/checkout/done">
                <input type="hidden" name="prod_id" value="{{prod_obj.id}}">
                {% for address in address %}
                <div class="billing-address fm-puff mb-3">
                  <h5 class="text-info">{{address.name|capfirst}}</h5>
                  <div class="d-flex flex-column align-items-start">
                    <p class="">Address &nbsp :&nbsp {{address.address}}</p>
                    <p class="">City &nbsp:&nbsp {{address.city}}</p>
                    <p class="">State &nbsp:&nbsp {{address.state}}</p>
                    <p class="">Zip Code &nbsp:&nbsp {{address.zip_code}}</p>
                    <p class="">Phone &nbsp:&nbsp {{address.phone}}</p>
                  </div>
                  <div class="address-actions">
                    <a class="btn-icon btn-edit bg-info text-decoration-none"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'customer_address_del' address.id %}" class="btn-icon btn-delete bg-info mx-2 "><i
                        class="fas fa-trash-alt"></i></a>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="add_id" id="address-{{forloop.counter}}"
                      value="{{address.id}}" required>
                    <label class="form-check-label" for="address-{{forloop.counter}}">
                      Address-{{forloop.counter}}
                    </label>
                  </div>
                </div>
                {% endfor %}
                <a href="{% url 'customer_address' %}" class="btn btn-info py-2 my-3 d-block fw-bold">add address</a>
                <button type="submit" class="btn btn-warning py-3 my-3 d-block fw-bold fm-puff w-100 ">continue</button>
                <!--Paymen banner-->
              </form>
            </div>
            
          </div>  
      </div>
    </div>
  </div>
{% endblock body-content %}
{% block ajax %}
<script src="{% static 'core/js/main.js' %}"></script>
{% endblock ajax %}
{% block payment-gateway %}{% endblock payment-gateway %}
