{% extends "core/base.html" %}
{% load static %}
{% block title %}
    Product Cart View
{% endblock title %}
{% block product-view-css %}
<link rel="stylesheet" href="{% static 'core/css/product_view_style.css' %}">
{% endblock product-view-css %}

<!--For responsive style-->
{% block responsive-css %}
  <link rel="stylesheet" href="{% static 'core/css/responsive.css' %}">
{% endblock responsive-css %}
{% block navbar %}
    <div>
        {% include "core/navbar.html" %}
    </div>
{% endblock navbar %}
{% block body-content %}
<div class="cart-view">
    <div class="row justify-content-center my-5 ">
        <div class="col-lg-6 col-md-8 col-12 mt-4">
          {% for cart_product in cart_products %}
            <div class="product-cart-banner">
              <a class="product-image-cart text-decoration-none" href="{% url 'product_view' cart_product.product.id %}">
                <img src="{{cart_product.product.product_image.url}}" alt="Product Image">
              </a>
              <div class="product-in">
                <h2>{{cart_product.product.title}}</h2>
                <p class="price">${{cart_product.get_total_cost}}</p>
                <div class="quantity">
                  <button class="minus-btn minus" data-id="{{cart_product.id}}">-</button>
                  <input type="text" class="count quantity-input" value="{{cart_product.quantity}}">
                  <button class="plus-btn plus" data-id="{{cart_product.id}}">+</button>
                </div>
              </div>
              <a href="{% url 'remove_product_cart' cart_product.id %}" class="remove-btn">&times;</a>
            </div>              
          {% endfor %}
        </div>
        <div class="col-lg-5 col-md-4">  
            <div class="cart-total">
                <div class="cart-total-heading">
                  <h3>Cart Total</h3>
                </div>
                <div class="cart-total-details">
                  <div class="cart-total-subheading">
                    <h4>Subtotal :</h4>
                    <span id="porducts-total-price">${{products_total_price}}</span>
                  </div>
                  <div class="cart-total-subheading">
                    <h4>Shipping :</h4>
                    <span>$70.00</span>
                  </div>
                  <hr>
                  <div class="cart-total-subheading">
                    <h4>Total :</h4>
                    <span id='total-with-shipping'>${{products_total_price_with_shipping_cost}}</span>
                  </div>
                </div>
                <div class="cart-total-button">
                  <a href="{% url 'check_out' %}" type="button">Checkout</a>
                </div>
            </div>    
        </div>
    </div>
  </div>
  
{% endblock body-content %}

{% block ajax %}
  {% include "core/ajax/ajax_cart.html" %}
{% endblock ajax %}