{% extends "core/base.html" %}
{% load static %}
{% block title %}register{% endblock title %}
{% block registration-css %}
    <link rel="stylesheet" href="{% static 'registration/css/registration_style.css' %}">
{% endblock registration-css %}
{% block navbar %}
    <div class="">
        {% include "core/navbar.html" %}
    </div>
{% endblock navbar %}
{% block body-content %}
<div class="d-flex flex-column justify-content-center align-items-center vh-100 vw-100 bg-img position-relative" style="background-image: url('{% static 'registration/images/tree.png' %}');">
    <div class="reset-form">
        <div class="display-6">Account Recovery</div>
        <p class="lead px-md-5 px-2 text-center">
            To help keep your account safe, We wants to make sure it's really you trying to sign in
        </p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="label-item">
                {{form.label_tag}} 
                {{form}}
            </div>  
            <small>
                {{form.errors|striptags}}
            </small>
            <input class="form-submit-btn my-3 fw-medium" type="submit" value="send mail">
        </form>
    </div>
</div>
{% endblock body-content %}