{% extends "core/base.html" %}
{% load static %}
{% block title %}register{% endblock title %}
{% block registration-css %}
    <link rel="stylesheet" href="{% static 'registration/css/registration_style.css' %}">
{% endblock registration-css %}
{% block responsive-css %}
    <link rel="stylesheet" href="{% static 'registration/css/auth_responsive.css' %}">
{% endblock responsive-css %}
{% block message %}{% endblock message %}
{% block body-content %}
<div class="d-flex flex-column justify-content-center align-items-center bg-img position-relative bg-light" style="background-image:url('{% static "registration/images/tree.png" %}')" >
    <div class="password-change-form text-center">
        <div class="display-6 mb-5">
            Change your password
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {% for form in form %}
                <div class="label-item">
                    {{form.label_tag}}
                    {{form}}
                    <small class="text-danger text-center d-block my-5">
                        {{form.errors|striptags}}
                    </small>
                </div>
                <br>
            {% endfor %}
            <input class="form-submit-btn fw-medium mt-4" type="submit" value="confirm password">
        </form>
    </div>
</div>
{% endblock body-content %}