{% extends "core/base.html" %}
{% load static %}
{% block title %}register{% endblock title %}
{% block registration-css %}
    <link rel="stylesheet" href="{% static 'registration/css/registration_style.css' %}">
{% endblock registration-css %}
{% block responsive-css %}
    <link rel="stylesheet" href="{% static 'registration/css/auth_responsive.css' %}">
{% endblock responsive-css %}
{% block message %}{% endblock message %}
{% block body-content %}
<div class="d-flex flex-column justify-content-center align-items-center vh-100 vw-100 bg-img position-relative" style="background-image: url('{% static 'registration/images/tree.png' %}');">
    <div class="reset-complete">
        <div class="display-6 text-black">
            Password reset successful
        </div>
        <p class="lead text-light">Your new password has been updated.</p>
        <a href="{% url 'user_login' %}" class="btn btn-outline-light px-5">login</a>
    </div>
</div>
{% endblock body-content %}