{% extends "core/base.html" %}
{% load static %}
{% block title %}register{% endblock title %}
{% block registration-css %}
    <link rel="stylesheet" href="{% static 'registration/css/registration_style.css' %}">
{% endblock registration-css %}
{% block responsive-css %}
    <link rel="stylesheet" href="{% static 'registration/css/auth_responsive.css' %}">
{% endblock responsive-css %}
{% block message %}{% endblock message %}
<!-- after verification code sended to email account then this this page will show -->
{% block body-content %}
<div class="d-flex flex-column justify-content-center align-items-center vh-100 vw-100 bg-img position-relative" style="background-image: url('{% static 'registration/images/tree.png' %}');">
    <div class="email-send-done text-center d-flex flex-column justify-content-center">
        <div class="container">
            <div class="display-6"> 
                Verification code send
            </div>
            <p class="lead mt-3 text-black">
                We have send an verification code to your email account. Check your email and click the link to set your new password.
            </p>
            <div class="text-danger fw-semibold">Don't share your email with others.</div>
        </div>  
    </div>
</div>
{% endblock body-content %}