{% extends "core/base.html" %}
{% load static %}
{% block title %}register{% endblock title %}
{% block registration-css %}
    <link rel="stylesheet" href="{% static 'registration/css/registration_style.css' %}">
{% endblock registration-css %}
{% block navbar %}
    <div class="">
        {% include "core/navbar.html" %}
    </div>
{% endblock navbar %}
{% block body-content %}
<div class="d-flex flex-column justify-content-center align-items-center vh-100 vw-100 bg-img position-relative" style="background-image: url('{% static 'registration/images/tree.png' %}');">
    <div class="password-change-form text-center">
        <div class="display-6 my-2">
            Change your password
        </div>
        <p class="lead my-3">Enter your new password</p>
        <form action="" method="post">
            {% csrf_token %}
            {% for form in form %}
                <div class="label-item">
                    {{form.label_tag}}
                    {{form}}
                    <small class="text-danger text-center d-block my-5">
                        {{form.errors|striptags}}
                    </small>
                </div>
                <br>
            {% endfor %}
            <input class="form-submit-btn fw-medium mt-4" type="submit" value="reset password">
        </form>
    </div>
</div>
{% endblock body-content %}