{% extends "core/base.html" %}
{% load static %}
{% block title %}register{% endblock title %}
{% block registration-css %}
    <link rel="stylesheet" href="{% static 'registration/css/registration_style.css' %}">
{% endblock registration-css %}
{% block responsive-css %}
    <link rel="stylesheet" href="{% static 'registration/css/auth_responsive.css' %}">
{% endblock responsive-css %}
{% block message %}{% endblock message %}
{% block body-content %}
    <div class="d-flex flex-column justify-content-center align-items-center bg-img" style="background-image: url('{% static 'registration/images/tree.png' %}');">
        <div class="register-form bg-transparent d-flex flex-column justify-content-center align-items-center">
            <form action="" method="post" class="form-reg">
                {% csrf_token %}
                {% for form in form %}
                <div class="label-input d-flex flex-column justify-content-center align-items-center my-3">
                    <div class="label-item">
                        {{form.label_tag}}
                        {{form}}
                    </div>
                    <small class="d-block text-light"> 
                        {{form.errors|striptags}}
                    </small>
                </div>
                {% endfor %}
                <input class="form-submit-btn my-3 fw-bold bg-light text-black" type="submit" value="Register">
            </form>
            <div class="text-white">Already have an account? <a href="{% url 'user_login' %}" class="fw-bold text-decoration-none text-white">LogIn</a></div>           
        </div>
    </div>
{% endblock body-content %}